In [2]:
import pandas as pd
import numpy as np

<ipython-input-2-baf368f80de7>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
print("Hello World")

Hello World

In [ ]:
df = pd.read_csv("data/customer_data.csv")

In [26]:
df.head()

,customer_id,date_of_interaction,issue_category,time_spent_minutes,resolution_status
0,1,2024-01-15,Payment,30.0,Resolved
1,2,2024-02-20,Account,45.0,Unresolved
2,3,2024-03-05,Delivery,NaN,Resolved
3,4,NaN,Technical Support,60.0,Unresolved
4,5,2024-04-10,Payment,20.0,Resolved

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          20 non-null     int64
 1   date_of_interaction  18 non-null     object
 2   issue_category       18 non-null     object
 3   time_spent_minutes   16 non-null     float64
 4   resolution_status    20 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 632.0+ bytes

In [7]:
df.describe()

       customer_id  time_spent_minutes
count     20.00000            16.00000
mean      10.50000            34.06250
std        5.91608            13.68926
min        1.00000            15.00000
25%        5.75000            23.75000
50%       10.50000            30.00000
75%       15.25000            45.00000
max       20.00000            60.00000

In [9]:
df.columns

Index(['customer_id', 'date_of_interaction', 'issue_category',
       'time_spent_minutes', 'resolution_status'],
      dtype='object')

In [13]:
df.loc[(df.resolution_status == "Unresolved")]

,customer_id,date_of_interaction,issue_category,time_spent_minutes,resolution_status
1,2,2024-02-20,Account,45.0,Unresolved
3,4,NaN,Technical Support,60.0,Unresolved
5,6,2024-05-15,NaN,30.0,Unresolved
7,8,2024-07-22,Delivery,15.0,Unresolved
9,10,2024-09-30,Payment,25.0,Unresolved
11,12,2024-02-29,Delivery,55.0,Unresolved
13,14,2024-04-20,Payment,40.0,Unresolved
15,16,2024-06-30,Delivery,25.0,Unresolved
17,18,2024-08-25,NaN,30.0,Unresolved
19,20,2024-09-05,Account,20.0,Unresolved

In [14]:
Unresolved_cx = df.loc[(df.resolution_status == "Unresolved")]

In [15]:
Unresolved_cx

,customer_id,date_of_interaction,issue_category,time_spent_minutes,resolution_status
1,2,2024-02-20,Account,45.0,Unresolved
3,4,NaN,Technical Support,60.0,Unresolved
5,6,2024-05-15,NaN,30.0,Unresolved
7,8,2024-07-22,Delivery,15.0,Unresolved
9,10,2024-09-30,Payment,25.0,Unresolved
11,12,2024-02-29,Delivery,55.0,Unresolved
13,14,2024-04-20,Payment,40.0,Unresolved
15,16,2024-06-30,Delivery,25.0,Unresolved
17,18,2024-08-25,NaN,30.0,Unresolved
19,20,2024-09-05,Account,20.0,Unresolved

In [18]:
Unresolved_cx.to_csv("data/unresolved.csv", index = False)

In [22]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
Unresolved_cx["issue_category"].fillna("Not Specified", inplace = True)

plt.subplots(figsize=(7.5, 7.5))
plt.bar(Unresolved_cx["issue_category"], Unresolved_cx["time_spent_minutes"], width = 0.5)
plt.xlabel("Category")
plt.ylabel("Time spent in minutes")
plt.title("Time Spent by category")
plt.show()

In [44]:
Unresolved_cx

,customer_id,date_of_interaction,issue_category,time_spent_minutes,resolution_status
1,2,2024-02-20,Account,45.0,Unresolved
3,4,NaN,Technical Support,60.0,Unresolved
5,6,2024-05-15,Not Specified,30.0,Unresolved
7,8,2024-07-22,Delivery,15.0,Unresolved
9,10,2024-09-30,Payment,25.0,Unresolved
11,12,2024-02-29,Delivery,55.0,Unresolved
13,14,2024-04-20,Payment,40.0,Unresolved
15,16,2024-06-30,Delivery,25.0,Unresolved
17,18,2024-08-25,Not Specified,30.0,Unresolved
19,20,2024-09-05,Account,20.0,Unresolved

In [64]:
df.isnull().sum()

customer_id            0
date_of_interaction    2
issue_category         2
time_spent_minutes     4
resolution_status      0
dtype: int64

In [65]:
df

,customer_id,date_of_interaction,issue_category,time_spent_minutes,resolution_status
0,1,2024-01-15,Payment,30.0,Resolved
1,2,2024-02-20,Account,45.0,Unresolved
2,3,2024-03-05,Delivery,NaN,Resolved
3,4,NaN,Technical Support,60.0,Unresolved
4,5,2024-04-10,Payment,20.0,Resolved
5,6,2024-05-15,NaN,30.0,Unresolved
6,7,2024-06-01,Account,50.0,Resolved
7,8,2024-07-22,Delivery,15.0,Unresolved
8,9,2024-08-13,Technical Support,NaN,Resolved
9,10,2024-09-30,Payment,25.0,Unresolved
10,11,2024-01-01,Account,35.0,Resolved
11,12,2024-02-29,Delivery,55.0,Unresolved
12,13,2024-03-15,Technical Support,NaN,Resolved
13,14,2024-04-20,Payment,40.0,Unresolved
14,15,2024-05-10,Account,NaN,Resolved
15,16,2024-06-30,Delivery,25.0,Unresolved
16,17,2024-07-15,Technical Support,20.0,Resolved
17,18,2024-08-25,NaN,30.0,Unresolved
18,19,NaN,Payment,45.0,Resolved
19,20,2024-09-05,Account,20.0,Unresolved

In [ ]:
df['issue_category'].fillna("Not specified", inplace = True)

In [ ]:
df

In [68]:
df.describe()

       customer_id  time_spent_minutes
count     20.00000            16.00000
mean      10.50000            34.06250
std        5.91608            13.68926
min        1.00000            15.00000
25%        5.75000            23.75000
50%       10.50000            30.00000
75%       15.25000            45.00000
max       20.00000            60.00000

In [81]:
mean = float(df["time_spent_minutes"].mean())

In [87]:
mean = round(mean, 2)
mean

34.06

In [90]:
df["time_spent_minutes"].fillna(34.06, inplace = True)

In [91]:
df

,customer_id,date_of_interaction,issue_category,time_spent_minutes,resolution_status
0,1,2024-01-15,Payment,30.0000,Resolved
1,2,2024-02-20,Account,45.0000,Unresolved
2,3,2024-03-05,Delivery,34.0625,Resolved
3,4,NaN,Technical Support,60.0000,Unresolved
4,5,2024-04-10,Payment,20.0000,Resolved
5,6,2024-05-15,Not specified,30.0000,Unresolved
6,7,2024-06-01,Account,50.0000,Resolved
7,8,2024-07-22,Delivery,15.0000,Unresolved
8,9,2024-08-13,Technical Support,34.0625,Resolved
9,10,2024-09-30,Payment,25.0000,Unresolved
10,11,2024-01-01,Account,35.0000,Resolved
11,12,2024-02-29,Delivery,55.0000,Unresolved
12,13,2024-03-15,Technical Support,34.0625,Resolved
13,14,2024-04-20,Payment,40.0000,Unresolved
14,15,2024-05-10,Account,34.0625,Resolved
15,16,2024-06-30,Delivery,25.0000,Unresolved
16,17,2024-07-15,Technical Support,20.0000,Resolved
17,18,2024-08-25,Not specified,30.0000,Unresolved
18,19,NaN,Payment,45.0000,Resolved
19,20,2024-09-05,Account,20.0000,Unresolved

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          20 non-null     int64
 1   date_of_interaction  18 non-null     object
 2   issue_category       20 non-null     object
 3   time_spent_minutes   20 non-null     float64
 4   resolution_status    20 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 632.0+ bytes

In [103]:
dates = df["date_of_interaction"].dropna()
dates

0     2024-01-15
1     2024-02-20
2     2024-03-05
4     2024-04-10
5     2024-05-15
6     2024-06-01
7     2024-07-22
8     2024-08-13
9     2024-09-30
10    2024-01-01
11    2024-02-29
12    2024-03-15
13    2024-04-20
14    2024-05-10
15    2024-06-30
16    2024-07-15
17    2024-08-25
19    2024-09-05
Name: date_of_interaction, dtype: object

In [106]:
dates = pd.to_datetime(df["date_of_interaction"], format="%Y-%m-%d")

In [107]:
dates

0    2024-01-15
1    2024-02-20
2    2024-03-05
3           NaT
4    2024-04-10
5    2024-05-15
6    2024-06-01
7    2024-07-22
8    2024-08-13
9    2024-09-30
10   2024-01-01
11   2024-02-29
12   2024-03-15
13   2024-04-20
14   2024-05-10
15   2024-06-30
16   2024-07-15
17   2024-08-25
18          NaT
19   2024-09-05
Name: date_of_interaction, dtype: datetime64[ns]

In [117]:
min_date = dates.min().date()
min_date

datetime.date(2024, 1, 1)

In [119]:
max_date = dates.max().date()
max_date

datetime.date(2024, 9, 30)

In [120]:
date_range = pd.date_range(start=min_date, end = max_date)

In [123]:
df.isnull().sum()

customer_id            0
date_of_interaction    2
issue_category         0
time_spent_minutes     0
resolution_status      0
dtype: int64

In [139]:
import random

def generate_random_date(start, end):
    delta_days = (end - start).days
    # Generate a random number of days to add to the start date
    random_days = random.randint(0, delta_days)
    # Generate the random date
    random_date = start + pd.Timedelta(days=random_days)
    return random_date.strftime('%Y-%d-%m')

# Generate a random date
random_date1 = generate_random_date(min_date, max_date)
random_date2 = generate_random_date(min_date, max_date)

In [140]:
print(random_date1)
print(random_date2)

2024-24-03
2024-31-08

In [141]:
dates

0    2024-01-15
1    2024-02-20
2    2024-03-05
3           NaT
4    2024-04-10
5    2024-05-15
6    2024-06-01
7    2024-07-22
8    2024-08-13
9    2024-09-30
10   2024-01-01
11   2024-02-29
12   2024-03-15
13   2024-04-20
14   2024-05-10
15   2024-06-30
16   2024-07-15
17   2024-08-25
18          NaT
19   2024-09-05
Name: date_of_interaction, dtype: datetime64[ns]

In [142]:
dates.isnull().sum()

2

In [153]:
random_dates = []
for i in range(df["date_of_interaction"].isnull().sum()):
    random_dates.append(generate_random_date(min_date, max_date))

In [163]:
random_dates

['2024-21-08', '2024-25-05']

In [166]:
pd.Series(random_dates)

0    2024-21-08
1    2024-25-05
dtype: object

In [170]:
df["date_of_interaction"] = df["date_of_interaction"].fillna(pd.Series(random_dates), inplace = True)

<ipython-input-170-33d9a8bd2b10>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["date_of_interaction"] = df["date_of_interaction"].fillna(pd.Series(random_dates), inplace = True)

In [ ]:
df